@page "/"

<PageTitle>Home</PageTitle>  @** Zet de titel van de pagina naar "Home" **@

<div class="container">
    <header>
        <h1>De Magische Poort</h1>  @** Titel van de website die bovenaan verschijnt **@
    </header>

    <div class="content">
        <h1>Welkom op de magische poort game</h1>  @** Welkomstbericht voor de gebruiker op de startpagina **@
        <p>Druk links op spel om het spel te starten!</p>  @** Instructie om het spel te starten door te klikken op de spel link **@
    </div>

    <footer>
        2025 Magische Poort Noah Pattyn  @** Voettekst met copyrightinformatie **@
    </footer>
</div>
